<div class="Container">
  <h1><% t('edit_shirt') %></h1>

  <div class="Show">
    <%= render 'form' %>
  </div>

  <div class="Links">
    <%= link_to t('show'), @shirt %> | <%= link_to t('back'), shirts_path %>
  </div>
</div>