<div id="editContainer">
  <h1>Edit shirt:</h1>

  <div id="editForm">
    <%= render 'form' %>
  </div>

  <div id="editLinks">
    <%= link_to 'Show', @shirt %> | <%= link_to 'Back', shirts_path %>
  </div>
</div>