<div class="Container">
  <h1>Edit shirt:</h1>

  <div class="Show">
    <%= render 'form' %>
  </div>

  <div class="Links">
    <%= link_to 'Show', @shirt %> | <%= link_to 'Back', shirts_path %>
  </div>
</div>